* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(204, 124, 20);
}

.header {
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 2px 2px;
    padding-inline: 16px;
    /* espaçamento para telas menores */
}

.nav {
    display: flex;
    justify-content: space-between;
}

a {
    text-transform: uppercase;
    font-size: 10px;
    color: rgb(255, 255, 255);
    /* letter-spacing: 1px; */
}